{sub_dirs,["src"]}.

{erl_opts, [
            {i, "deps/apns_erl_util/include"},
            warnings_as_errors,
            {parse_transform, lager_transform},
            debug_info, export_all,
            {src_dirs, ["src"]}
           ]}.


{dialyzer, [
            {plt_apps, top_level_deps}, % top_level_deps | all_deps
            {plt_extra_apps, [getopt, hpack, public_key, uuid, jsx, ssl]}
           ]}.

{deps, [
        {uuid, ".*",
         {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
        {lager, "2.2.1",
         {git, "https://github.com/basho/lager.git", {tag, "2.2.1"}}},
        {getopt, ".*",
         {git, "https://github.com/jcomellas/getopt.git", {branch, "master"}}},
        {chatterbox, ".*",
         {git, "https://github.com/efine/chatterbox.git", {branch, "next"}}},
        {jsx, ".*",
         {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
        {apns_erl_util, ".*",
         {git, "https://github.com/silentcircle/apns_erl_util.git", {branch, "master"}}},
        {sc_util, ".*",
         {git, "https://github.com/silentcircle/sc_util.git", {branch, "master"}}}
       ]
}.


{profiles,
 [
  {test, [
          {deps,
           [
            {ranch, ".*",
             {git, "https://github.com/ninenines/ranch.git", {tag, "1.2.1"}}}
           ]}
         ]
  }]
}.


{escript_incl_apps, [uuid, lager, chatterbox, jsx, sc_util, apns_erl_util]}.

% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et:
