{sub_dirs,["src"]}.

{erl_opts, [
            {i, "deps/apns_erl_util/include"},
            debug_info,
            {src_dirs, ["src"]}
           ]}.

{deps, [
        {jsx, ".*",
         {git, "git@github.com:talentdeficit/jsx.git", {branch, "master"}}},
        {sc_util, ".*",
         {git, "git@github.com:SilentCircle/sc_util.git", {branch, "master"}}},
        {apns_erl_util, ".*",
         {git, "git@github.com:SilentCircle/apns_erl_util.git", {branch, "master"}}}
       ]
}.

{escript_incl_apps, [jsx, sc_util, apns_erl_util]}.
